body {
    background-color: #060514;
}

#wrapper {
    margin: 0 auto;
    width: 960px;
    position: relative;
    font-family: Arial;
}

header {
    margin-bottom: 2%;
    width: 960px;
    height: 400px;
    background-image: url("../images/headerBackground.jpg");
    background-size: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

h1 {
    padding: 3% 0 0 4%;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Lobster Two', cursive;
    text-shadow: 1px 0 5px #000;
}

h1 a {
    color: #FFF;
    text-decoration: none;
}

h1 a:hover {
    color: rgba(255, 255, 255, 0.8);
}

nav {
    width: 100%;
    position: absolute;
    top: 342px;
    left: 0;
}

nav form input {
    padding: 10px 35px;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    color: #000;
    text-shadow: 1px 1px 5px #FFF;
    background: rgba(255,255,255,0.2);
    border: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    display: inline;
}

nav input:hover {
    color: #FFF;
    text-shadow: 1px 1px 5px #000;
    background-color: rgba(0,0,0,0.6);
}

main {
    width: 100%;
    display: inline-block;
}

aside {
    width: 17%;
    padding: 10px;
    vertical-align: top;
    border: 2px solid #DDD;
    border-radius: 10px;
    background-color: #B3ACB5;
    display: inline-block;
}

aside div {
    margin: 5px 0;
}

aside p {
    padding-bottom: 2px;
}

aside .login {
    margin-bottom: 10px;
    padding-bottom: 5px ;
    border-bottom: 2px solid #DDD;
}

h2 {
    margin-bottom: 10px;
    color: #3C073D;
    font-size: 18px;
    font-weight: bold;
}

aside a {
    color: #000;
    text-overflow: ellipsis;
}

aside a:hover {
    color: #6E055F;
}

footer {
    margin-top: 20px;
    width: 960px;
    height: 100px;
    background: url("../images/headerBackground.jpg") 0 200px;
    background-size: 100%;
    text-align: center;
    text-shadow: 1px 1px 5px #FFF;
    color: #000;
    font-size: 30px;
    line-height: 80px;
}

footer a {
    color: #000;
}

@media only screen and (max-width:1024px) {

}

@media only screen and (max-width:960px) {
    img {
        background-size: cover;
    }
}

@media only screen and (max-width:768px) {
    header > img {
        width: 80%;
        height: 80%;
    }
}

@media only screen and (max-width:640px) {

}

@media only screen and (max-width:480px) {
    header > img {
        width: 50%;
    }
}

@media only screen and (max-width:320px) {

}