aside {
    display: inline-block;
}

section {
    margin: 0;
    width: 60%;
    border: 2px solid #DDD;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
}

section li {
    padding: 3px;
    line-height: 24px;
    list-style: none;
}

section > ul > li:nth-child(2n+1) {
    background-color: #807A85;
}

section > ul > li:nth-child(2n) {
    background-color: #B3ACB5;
}

section > ul > li:first-child {
    border-radius: 6px 6px 0 0;
}

section > ul > li:last-child {
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 0 0 6px 6px;
}

section > ul > li > ul > li {
    padding: 0;
    font-style: italic;
    display: inline;
}

section > ul > li > ul > li:first-child {
    padding-top: 5px;
}

section > ul > li > ul > li input {
    height: 24px;
    vertical-align: top;
    float: right;
}

input[type='search'] {
    margin-top: 1px;
    height: 22px;
    width: 50%;
    border: 1px inset;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
}

input[type='search']:focus,
#search:hover {
    outline: none;
    background-color: #B3ACB5;
}

#search {
    margin-top: 1px;
    width: 24px;
    height: 22px;
    background-image: url('../images/search2_20x20.png');
    background-color: #FFF;
    border: 1px inset;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
}

#search:hover {
    cursor: pointer;
}

section a {
    text-decoration: none;
    color: #000;
}

section > ul > li > a {
    padding: 5px 0;
}

section a:hover {
    color: #3C073D;
}
